/* Блок container */
.container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
}

/* Блоки input, num, double, increment, decrement */
.input,
.num,
.double,
.increment,
.decrement, .reset {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.input:hover,
.num:hover,
.double:hover,
.increment:hover,
.decrement:hover {
    background-color: #f5f5f5;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-7px);
}

/* Блоки inputContainer, numContainer, doubleContainer, incrementContainer, decrementContainer */
.inputContainer,
.numContainer,
.doubleContainer,
.incrementContainer,
.decrementContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* Элементы заголовка */
.inputContainer__title,
.numContainer__title,
.doubleContainer__title,
.incrementContainer__title,
.decrementContainer__title {
    margin-bottom: 10px;
}

/* Блоки asyncIncrementContainer, asyncDecrementContainer */
.asyncIncrementContainer,
.asyncDecrementContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* Элементы кнопки */
.asyncIncrementContainer__button,
.asyncDecrementContainer__button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.asyncIncrementContainer__button:hover,
.asyncDecrementContainer__button:hover {
    background-color: #f5f5f5;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-7px);
}

/* Модификаторы кнопки */
.asyncIncrementContainer__button__error,
.asyncDecrementContainer__button__error {
    background-color: #f44336;
    color: white;
}

.asyncIncrementContainer__button__success,
.asyncDecrementContainer__button__success {
    background-color: #4caf50;
    color: white;
}

/* Элементы loading, error, success */
.asyncIncrementContainer__loading,
.asyncIncrementContainer__error,
.asyncIncrementContainer__success,
.asyncDecrementContainer__loading,
.asyncDecrementContainer__error,
.asyncDecrementContainer__success {
    width: 0;
    height: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

/* Модификаторы loading, error, success */
.asyncIncrementContainer__loading__active,
.asyncIncrementContainer__error__active,
.asyncIncrementContainer__success__active,
.asyncDecrementContainer__loading__active,
.asyncDecrementContainer__error__active,
.asyncDecrementContainer__success__active {
    width: 100%;
    height: auto;
    opacity: 1;
}

.asyncIncrementContainer__error,
.asyncDecrementContainer__error {
    background-color: #ffebee;
    color: #f44336;
}

.asyncIncrementContainer__success,
.asyncDecrementContainer__success {
    background-color: #e8f5e9;
    color: #4caf50;
}

/* Элементы заголовка */
.asyncIncrementContainer__title,
.asyncDecrementContainer__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Модификаторы кнопки */
.asyncIncrementContainer__button__error,
.asyncDecrementContainer__button__error {
    background-color: #f44336;
    color: white;
}

.asyncIncrementContainer__button__success,
.asyncDecrementContainer__button__success {
    background-color: #4caf50;
    color: white;
}

/* Модификаторы loading, error, success */
.asyncIncrementContainer__loading__active,
.asyncIncrementContainer__error__active,
.asyncIncrementContainer__success__active,
.asyncDecrementContainer__loading__active,
.asyncDecrementContainer__error__active,
.asyncDecrementContainer__success__active {
    width: 100%;
    height: auto;
    opacity: 1;
}